# ==========================
# Binaries
# ==========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ==========================
# Build
# ==========================
bin/
build/
dist/
release/

# ==========================
# Go
# ==========================
vendor/

# Coverage
coverage.out
coverage.html
*.coverprofile

# ==========================
# Logs
# ==========================
*.log
logs/
tmp/

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# Vim
*.swp
*.swo

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Debug
# ==========================
__debug_bin

# ==========================
# Air
# ==========================
.air/